body {
  background: linear-gradient(to right, #dfe9f3, #ffffff);
  background-attachment: fixed;
  font-family: 'Segoe UI', sans-serif;
  color: #212529;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

#loading {
  margin-top: 1rem;
  text-align: center;
}